body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    min-width: 1280px;
    background: #f6f6f6;
    font-size: 14px;
    color: #333333;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}
h1, h2, h3, h4, h5, p{
    margin: 0px;
}
.w-75{
    width: 75% !important;
}
.w-100{
    width: 100% !important;
}
.w140{
    width: 140px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mb10{
    margin-bottom: 10px;
}
.fs28{
    font-size: 28px;
}
.fs24{
    font-size: 24px;
}
.ft-w{
    font-weight: bold;
}
.c-blue{
    color: #4a90e2;
}
.c-red{
    color: #EC5F5F;
}

.fll{
    float: left;
}
.flr{
    float: right;
}
.clearfix {
    zoom: 1;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
